html,
body,
#root,
.App {
  height: 100%;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  max-width: 100vw;
}

#root {
  min-height: 100vh;
  padding: 16px;
  box-sizing: border-box;
  background-color: #1e1e1e;
}

.link {
  box-shadow: inset 0 0 0 0 #597b91;
  color: #597b91;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.link:hover {
  box-shadow: inset 137px 0 0 0 #597b91;
  color: white;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
